{% extends "layout.html" %}

{% block head %}
Change Password
{% endblock %}

{% block body %}

<form action="/">
    <button type="submit">Back</button>
</form>

<div id="login-form">
    <h3>Change Password</h3>
    <form action="/changed" method="post">
        <input type="text" name="website" autocomplete="off" value="{{ website }}" required autofocus hidden>
        <h3> {{ website }} </h3>
        <br>
        <input type="username" name="username" autocomplete="off" placeholder="Username" required autofocus>
        <br>
        <input type="password" name="password" autocomplete="off" placeholder="Password" required>
        <br>
        <button type="submit">Change</button>
        <br>
        <h5 id="error">{{errorText}}</h5> <!--Error text här-->
    </form>

</div>

{% endblock %}
