{% extends "layout.html" %}

{% block head %}
{{ username }}'s Passwords
{% endblock %}

{% block body %}

    <header>
        <h1>Hello {{ username }}</h1>

        <form action="/logout">
            <button type="submit">Log out</button>
        </form>
    </header>

    <main>

    </main>

    <container>
        <table class="table">
            <thead>
                <tr>
                    <th>Website</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th><form action="/create"><button type="submit">New Password</button></form></th>
                </tr>
            </thead>
            <tbody>
                {% for rows in passwords %}
                <tr>
                    <td>{{ rows["website"] }}</td>
                    <td>{{ rows["username"] }}</td>
                    <td>{{ rows["password"] }}</td>
                    <!--<td> {{ decrypted }} </td>-->
                    <!--<td><form action="/decrypt" method="post"><button name="decrypt" value="{{ rows["password"] }}" type="submit">View</button></form></td>-->
                    <td><form action="/change" method="post"><button name="change_button" value="{{ rows['website'] }}" type="submit">Change</button></form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </container>

{% endblock %}
